node_modules/
vendor/
public/build/
public/hot
database/database.sqlite

storage/

.env
.env.*
!.env.example
.git/
.gitignore

Dockerfile
docker-compose.yml

.editorconfig
.phpactor.json
phpunit.xml
pint.json
eslint.config.js
tsconfig.tsbuildinfo
*.test.*

bootstrap/cache/*.php
tests/
